@page "/"
@using MailAssistant.BlazorWebApp.Components.Models
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject EmailReplyGeneratorService emailToGenerateReply

<title>Home</title>
<div class="container min-vh-100 mt-3">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item">Inbox</li>
                @foreach (var email in emails)
                {
                    <li class="list-group-item" @onclick="() => SelectEmail(email)">
                        @email.Subject
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-8">
            @if (selectedEmail != null)
            {
                <div>
                    <h4>
                        <pre style="white-space: pre-wrap; word-wrap: break-word; overflow-wrap: break-word;">@selectedEmail.Subject</pre>
                    </h4>
                    <pre style="white-space: pre-wrap; word-wrap: break-word; overflow-wrap: break-word;">@selectedEmail.Body</pre>
                    <button class="btn btn-primary" @onclick="GenerateAIReply">Generate AI Reply</button>
                </div>
            }
            else
            {

                <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                    <p>Select an email to view its content.</p>
                </div>
            }
        </div>
    </div>
</div>